// pallet colors
$primary-color:#d45500;
$primary-color-light:#ff8539;
$primary-color-dark:#9c2400;

$secondary-color:#bd252c;
$secondary-color-light:#f65c55;
$secondary-color-dark:#850003;

//commom colors
$black:#000000;
$white:#ffffff;

//commom coloers classes
.primary-color {
    color: $primary-color;
}

.black {
    color: $black;
}