@import url('https://fonts.googleapis.com/css?family=Roboto|Yanone+Kaffeesatz');
body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 79.5%;
    margin: 0 auto;
}

.img-responsive {
    width: 100%;
}

.inline-block {
    display: inline-block;
}

.center {
    text-align: center;
}