@import '../../../styles/scss/colors.scss';

.footer {
    padding: 4em 8em 0.8em;
    display: flex;
    justify-content: space-between;
    &__author {
        font-size: 0.7em;
        color: #b6b6b6;
    }
    &__contacts {
        li {
            display: inline-block;
        }
    }
    &__contact {
        margin-left: 3em;
    }
}