@import '../../../styles/scss/colors.scss';
.beer-detail {
    &__informations {
        align-items: center;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 3em 2em;
        &__figure {
            &__img {
                width: 10em;
            }
        }
        &__description {
            margin-left: 1em;
            max-width: 78em;
            &__title {
                color: $secondary-color;
                font-size: 2.3em;
                margin-bottom: 0.7em;
            }
            &__tagline {
                color: $main-text-ligth-color;
                font-size: 1.3em;
                margin-bottom: 0.9em;
            }
            &__text {
                color: $main-text-color;
                line-height: 1.7;
                text-align: justify;
            }
        }
    }
}