@import '../../../styles/scss/colors.scss';

.header {
    align-items: center;
    border-top: solid 0.7em $secondary-color;
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
}
