@import '../../../styles/scss/colors.scss';

.header {
    align-items: center;
    border-top: solid 0.7em $secondary-color;
    display: flex;
    justify-content: space-between;
    padding: 1% 10%;
    &__logo {
        &__figcaption {
            font-family: 'Yanone Kaffeesatz', sans-serif;
            font-size: 1.5em;
        }
    }
    &__nav {
        &__links {
            display: flex;
        }
        &__link {
            font-size: 1.3em;
            text-decoration: none;
            margin-right: 3em;
        }
    }
    &__chart {
        &__btn {
            background: url('/src/images/chart.svg') no-repeat center;
            background-size: 3.5em 4em;
            border: 0;
            color: $white;
            font-size: 0.6em;
            font-weight: bold;
            height: 3.5em;
            padding-top: 1em;
            width: 1.5em;
        }
    }
}
