@import '../../../styles/scss/colors.scss';
.beer {
    padding: 0 0.5em 1em;
    &__name {
        color: $main-text-color;
        font-size: 0.9em;
    }
    &__tagline {
        color: $main-text-ligth-color;
        font-size: 0.8em;
    }
    &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 10px rgba($black, 0.1);
    }
}