@import '../../../styles/scss/colors.scss';
.beers {
    margin-top: 1em;

    &__list {
        padding-top: 1%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 5em;
        &__item {
            width: 25%;
            margin-bottom: 2em;
            a {
                text-decoration: none;
            }
        }
    }
    &__show-more-area {
        text-align: center;
        margin-top: 1.5em;
    }
}