@import '../../styles/scss/colors.scss';
@mixin height-align-value() {
    height: 8em;
    vertical-align: text-bottom;
}

.Header {
    border-top: solid 0.9em $secondary-color;
    width: 100%;
    &-logo {
        margin: 0 8em 0 0;
        padding-top: 1.5em;
        width: 6em;
        &-figcaption {
            font-family: 'Yanone Kaffeesatz', sans-serif;
            font-size: 2em;
            &--primary {
                color: $primary-color;
            }
        }
    }
    &-nav {
        &-links {
            display: flex;
            margin-top: 3em;
        }
        &-link {
            color: $secondary-color;
            font-size: 1.3em;
            text-decoration: none;
            margin-right: 4em;
        }
        @include height-align-value;
    }
    &-chart {
        display: inline-block;
        @include height-align-value;
        &-btn {
            background: 0;
            background-color: $secondary-color;
            border: 0;
            color: $white;
            margin-left: 5.5em;
            margin-top: 3.3em;
        }
    }
}

.HomePage {
    background-color: $home-main-bg;
    padding-top: 3em;
    &-botle {
        margin: 0;
        padding: 0;
        width: 40%;
    }
    &-action {
        height: 30em;
        vertical-align: top;
        text-align: center;
        width: 40%;
    }
    &-tagline {
        color: $primary-color;
        font-size: 3em;
        line-height: 1.3;
        margin-top: 2em;
        text-align: center;
        margin-bottom: 0.6em;
    }
    &-button--callToAction {
        border: 0;
        background: 0;
        color: $white;
        font-size: 2em;
        background-color: $secondary-color;
        padding: 0.3em 1em;
        &:hover {
            cursor: pointer;
        }
    }
}