@import '../../styles/scss/colors.scss';
.Header {
    border-top: solid 0.9em $secondary-color;
    width: 100%;
    &-logo {
        display: inline-block;
        margin: 0 5em 0 0;
        padding-top: 1.5em;
        padding-top: 1.5em;
        width: 6em;
        &-figcaption {
            font-family: 'Yanone Kaffeesatz', sans-serif;
            font-size: 2em;
            &--primary {
                color: $primary-color;
            }
        }
    }
    &-nav {
        display: inline-block;
        height: 8em;
        vertical-align: text-bottom;
        &-links {
            display: flex;
            margin-top: 3em;
        }
        &-link {
            color: $secondary-color;
            font-size: 1.3em;
            text-decoration: none;
            margin-right: 4em;
        }
    }
}